body{
    background-color: rgb(22, 22, 22);
    color: white;
    font-family: 'Fredoka', sans-serif; ;
}
.tit{
    background-color: rgb(90, 84, 84);
    display: flex;
    justify-content: center;
    height: 5vh;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    gap: 20px;
}
.t{
    background-color: rgb(90, 84, 84);
    height: 40px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 80px;
    user-select: none;
}
#cont{
    display: flex;
    justify-content: space-between;
    padding: 60px;
}
.o{
    background-color: rgb(22, 22, 22);
    font-size: 20px;
    width: 15%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
}
.o:hover{
    height: 60px;
    transition: 0.3s linear;
}
.middle{
    font-size: 25px;
    display: flex;
    text-align: center;
    user-select: none;
    flex-direction: column;
    gap: 20px;
}
.create{
    display: flex;
    justify-content: center;
}
.create:hover{
    font-size: 35px;
    transition: 0.3s;
}
#q{
    background-color: rgb(90, 84, 84);
    border-radius: 10px;
    padding: 5px;
    max-width: 30vw;
}
#alt{
    display: flex;
    justify-content: center;
    gap: 2vw;
}
.op{
    background-color: rgb(90, 84, 84);
    padding: 5px;
    border-radius: 10px;
    height: 25px;
    cursor: pointer;  
    display: flex; 
    justify-content: center;
    align-items: center;
    transition: height 0.3s linear;
}
.op:hover{
    height: 35px;
}